<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Write new Chat...</h3>

    <form method="POST" action="/chats">
        <input type="text" placeholder="who are you?" name="from" id="from"><br><br>
        <textarea name="msg" id="msg">Write your message here...</textarea><br><br>
        <input type="text" placeholder="add receiver" name="to" id="to"><br><br>
       <button type="submit">Create chat</button>

    </form>
</body>
</html>